<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.domain.nvm.morningfriend"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.StartupActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.alarm_list.AlarmListActivity"/>
        <activity android:name=".ui.alarm_detail.AlarmDetailActivity"/>
        <activity android:name=".ui.logs.LogActivity"/>
        <activity
            android:name=".ui.puzzle.PuzzleActivity"
            android:theme="@style/Theme.Fullscreen"/>
        <activity
            android:name=".ui.puzzle.TrainingActivity"
            android:theme="@style/Theme.Fullscreen"/>
        <activity android:name=".ui.settings.SettingsActivity">
        </activity>
        <activity android:name=".ui.demo.SelectPuzzleActivity">
        </activity>
        <service
            android:name=".alert.RingingService"
            android:enabled="true">
        </service>

        <receiver android:name=".alert.scheduler.AlarmRegisterReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".alert.AlertReceiver"/>

        <service
            android:name=".alert.scheduler.AlarmRegisterService"
            android:enabled="true"
            android:exported="false">
        </service>

    </application>

</manifest>